section{
    display: flex;
    background-color: var(--azul);
    border-radius: 50px;
    margin: 2rem 7rem 7rem 7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#jogo{
    position: relative;
    width: 100%;
}

#jogo h1{
    font-weight: bold;
    color: var(--texto);
    font-size: 30px;
    display: flex;
    margin: 60px;
    justify-content: center;
}

.jogo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5%;
}

.jogo__item {
    display: flex;
    padding: 1.2rem;
    border-radius: 2rem;
    transition: var(--transition);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.jogo__item-image {
    border-radius: 5rem;
    overflow: hidden;
    margin-bottom: 35px;
}

.jogo__item h2 {
    font-weight: bold;
    margin: 1.2rem 0 0.5rem;
    color: var(--texto);
    font-size: 30px;
}

.jogo__item-cta {
    margin-bottom: 1rem;
}

.jogo__item-cta p{
    color: var(--texto);
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3rem;
}

.jogo__item-cta h3{
    font-size: 30px;
    color: var(--texto);
}

.btn_card1{
    font-weight: bold;
    width: max-content;
    display: inline-block;
    color: var(--texto);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--amarelo);
    transition: var(--transition);
}

.btn_card1:hover{
    border: 2px solid transparent;
}

.btn-card2{
    font-weight: bold;
    width: max-content;
    display: inline-block;
    background: var(--amarelo);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--amarelo);
    transition: var(--transition);
}
/*============================================================ MEDIA QUERYES ================================================*/

@media screen and (max-width:1024px) {
    .jogo__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*============================================================ MEDIA QUERYES ================================================*/

@media screen and (max-width:600px) {
    .jogo__container{
    grid-template-columns: 1fr;
    gap: 1rem;
    }
}